*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #F6F0EB;
    font-family: poppins,sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}
header{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px;
}
nav{
    display: flex;

}
nav a{
font-weight: 700;
font-size :20px;
color:#492118;
}
 nav a+ a{
    margin-left: 60px;
 }
.logo img{
    width: 50px;    

}
 img{
    width:100%;
}
main{
    padding: 0 24px;
}
.hero-section{
    margin-top: 100px;
}
.container {
    /* display: flex;
    justify-content: center;
    /* margin-top: 20px; */
     max-width: 1290px; 
    margin:0 auto;
}
.hero-section p{
    color: #492118;
    text-align: center;
    font-size: 24px;
}
.section{
    margin-top: 120px;
}
.section .container{
    max-width: 1040px;
}
.section h2{
    font-size: 48px;
    color: #492118;
    font-weight: 700;
    text-align: center
;
}