*{
    box-sizing: border-box;
}
body {
    background-color: #DECDAC;
    margin: 0;
    font-family: Inika;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.newsletter-card{
     width: 380px;
    height: 180px;
    background-color: white;
    border-radius: 16px;
    padding: 8px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 3px -1px rgba(0, 0, 0, 0.3);
}
.news-btn{
    width: 200px;
    border: none;
    height: 63px;
    background-color: #EBBF53;
    border-radius: 31px;
    box-shadow: 0 5px 3px -1px rgba(0, 0, 0, 0.3);

}