body{
background-color: #DECDAC;
margin: 0;
font-family: Inika;
font-size: 40px;
}
.popup-container{
    position: fixed;
    inset:0;
    /* background-color: rgba(0,0,0,0.5); */
    pointer-events: none;
}
.popup-container.popup-open{
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: all;
}
.popup{
    width: 690px;
    height: 346px;
    position: absolute;
    left:50%;
    top:50%;
   transform: translate(-50%, -50%) scale(0); 
transition: all 0.2s ease-in-out;;
    background-color: #FEFAF3;
    
    border-radius: 16px;
    padding:8px;
    box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.3);
    /* display: none; */
    
}
.popup-open .popup{
    transform: scale(1);
    left:50%;
    top: 50%;
   transform: translate(-50%, -50%) scale(1);
}


.close-icon{
    font-weight: 700;
    font-size: 48px;
    position: absolute;
    right:16px;
    cursor: pointer;
}
.close-icon p{
    font-size: 18px;
}
.overlay{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
.popup-open .overlay{
    display: block;
}