body{
background-color: #DECDAC;
margin: 0;
font-family: Inika;
font-size: 40px;
}
.pop-up{
    width: 690px;
    height: 346px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #FEFAF3;
    position: fixed;
    border-radius: 16px;
    padding:8px;
    box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.3);
    /* display: none; */
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.2s ease-in-out;
    top:0;
    left:0;
}
.pop-up.open{
    transform: scale(1);
    left:50%;
    top: 50%;
   transform: translate(-50%, -50%) scale(1);
}


.close-icon{
    font-weight: 700;
    font-size: 48px;
    position: absolute;
    right:16px;
    cursor: pointer;
}
.close-icon p{
    font-size: 18px;
}
