* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #001288;
    color: white;
    position: sticky;
    top: 0;
}
.logo {
    font-size: 20px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Hero */
.hero {
    padding: 60px 20px;
    text-align: center;
    background: #eaf4ff;
}

.hero h1 {
    font-size: 28px;
}

.hero p {
    margin: 15px 0;
}

.btn {
    background: #0d6efd;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

